<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Esta es la home de la nuestra aplicacion</h1>
    <nav class="menu">
        <ul>

            <li><a href="/validacion">Validacion</a></li>
            <li><a href="/logica">Logica</a></li>

        </ul>

    </nav>
</body>

</html>